body {
    display: flex;
    flex-direction: column;
    background-color:rgb(255, 245, 233);
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
    background-color: darkcyan;
    border: 5px, solid, rgb(240, 217, 10);
}