body {
    display: flex;
    flex-direction: column;
    background-color: rgb(126, 236, 200);
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}